.background-svg {
    z-index: -1; /* Send to background */
    position: absolute; /* Ensure it stays in place */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Adjust height as needed */
    overflow: hidden;
  }
  
  .signin-content {
    position: relative; /* Ensure content is positioned above the background */
    z-index: 1; /* Ensure it's above the SVG */
  }
  
  .scrollbar {
    scrollbar-width: thick;  
}

.scrollbar::-webkit-scrollbar-button {
    display: none;
}

.scrollbar::-webkit-scrollbar {
    width: 0px;
    background: white;

}


.scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #dcdcdd ; /* Light grey on thumb hover */
}
